<h1>Create New Question</h1>

<%= form_with model: [@test, @questions] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p><br>
  <p><%= form.submit %></p>
<% end %>
