.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.myProgress {
  width: 100%;
  background-color: #ddd;
}

.myBar {
  text-align: center;
  width: 1%;
  height: 50px;
  background-color: #4CAF50;
}
