<tr>
  <td><%= link_to "#{test.title}", admin_test_path(test) %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td><%= link_to t('.link_to_edit'), edit_admin_test_path(test) %></td>
</tr>
