<table class="table">
    <tr>
      <th scope="col"> <%= Test.human_attribute_name(:title) %> </th>
      <th scope="col"> <%= Test.human_attribute_name(:level) %> </th>
      <th scope="col"> <%= t('.question_count') %> </th>
    </tr>
    <%= render @tests %>
</table>
