<p> 
  Current year: <%= Time.now.year %>, 
  <%= link_to("Test guru project", "https://github.com/cepcap/testguru") %>,
  Учебный проект в онлайн-школе <%= link_to("Thinknetica", "https://thinknetica.com") %>
</p>
