<p> 
  <%= current_year %> год, 
  <%= link_to("Test guru project", github_link("cepcap", "testguru")) %>,
  Учебный проект в онлайн-школе <%= link_to("Thinknetica", "https://thinknetica.com") %>
</p>
